html, body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  
}

/* General Styles */
.image-section {
  margin-top: 5%; /* Default margin for desktop view */
  margin-bottom: 1%; /* Default margin for desktop view */
  width: 70%; /* Adjust width if necessary */
  background-color: #ffffff;
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Light shadow */
}

.image-section img {
  display: block;
  width: 100%; /* Ensure image is responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Rounded corners for the image itself */
}

.intro-section {
  margin-top: 10%; /* Default margin for desktop view */
  margin-bottom: 10%; /* Default margin for desktop view */
  padding: 20px;
  width: 90vw; /* Set width to 90% of viewport width */
  height: 30vh; /* Set height to 30% of viewport height */
}

.intro-item {
  margin-bottom: 20px;
}

.intro-section h1 {
  color: #092543; /* Dark blue color */
}

.intro-section p {
  color: #555; /* Medium grey color */
}

.highlight {
  color: #092543; /* Dark blue color for highlights */
}

/* Bottom Container Styles */
.right-bottom-container {
  margin-top: 5%; 
  width: 100%; 
  height: 15VW;
  padding: 20px;
  border: 2px solid black;
  box-sizing: border-box; 
  background-color: #f8f9fa;
  /* display: none; */
}

/* Mobile View Adjustments */
@media (max-width: 768px) {
  .image-section {
    margin-top: 5%; /* Margin for mobile view */
    margin-bottom: 5%; /* Margin for mobile view */
  }

  .intro-section {
    margin-top: 5%; /* Margin for mobile view */
    margin-bottom: 5%; /* Margin for mobile view */
    width: 90vw; /* Ensure responsiveness */
    height: auto; /* Adjust height for mobile view */
  }

  .intro-item h1 {
    font-size: 1.75em; /* Adjust font size on small screens */
  }

  .intro-item p {
    font-size: 1em;
  }
}
