/* app.component.css */
.main-container {
    width: 100%;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    background-color: rgb(49, 47, 47);
  }
  
  app-intro {
    width: 100%; /* Make the intro component take up the full width */
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9; /* Background color for the intro section */
    /* border-bottom: 1px solid #ddd; Add a bottom border to separate sections */
  }
  
  app-skills {
    width: 90vw; /* 50% of the viewport width */
    background-color: #f4f4f4; /* Background color for the skills section */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px; /* Space between intro and skills */
    margin-bottom: 20px;
  }

  app-certificates {
    width: 100vw;
    background-color: #f4f4f4; 
    /* border-radius: 12px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px; 
    margin-left: 0; 
    margin-right: 20px; 
}
  
  @media (max-width: 768px) {
    app-skills {
      width: calc(100% - 40px); /* Full width minus padding for smaller screens */
      margin: 20px; /* Add margin for spacing */
    }
  }
  