
<!-- skills.component.html -->
<div class="skills-container">
  <div class="left-side">
    <h2 class="section-title">Soft Skills</h2>
    <div class="soft-skills-grid">
      <div *ngFor="let skill of softSkill$ | async" class="soft-skill-card">
        <div class="soft-skill-content">
          <h3>{{ skill.skillName }}</h3>
          <p>{{ skill.skillDes }}</p>
          <!-- <p>Status: {{ skill.isActive === 1 ? 'Active' : 'Inactive' }}</p> -->
        </div>
      </div>
    </div>
  </div>

  <div class="right-side">
    <h2 class="section-title">Tech Skills</h2>
    <div class="skills-grid">
      <div *ngFor="let skill of techSkill$ | async" class="skill-card">
        <div  class="skill-content">
          <h3>{{ skill.skillName }}</h3>
          <p>Technology: {{ skill.skillTechnolgy }}</p>
          <!-- <p>Status: {{ skill.isActive === 1 ? 'Active' : 'Inactive' }}</p> -->
        </div>
      </div>
    </div>
  </div>
</div>

  
  
  