/* Container for projects */
.projects-container {
  width: 90vw; /* Set the container width to 90% of viewport width */
  margin: 0 auto; /* Center the container horizontally */
  padding-left: 5%;
}

/* Grid for projects */
.projects-grid {
  /* Bootstrap grid system already manages the layout */
}

/* Project card styling */
.project-card {
  background-color: #fff; /* Background color for the cards */
  border: 1px solid #ddd; /* Border color for the cards */
  border-radius: 8px; /* Rounded corners for the cards */
  padding: 20px; /* Padding inside the cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect for the cards */
  position: relative; /* Allows positioning of child elements */
  display: flex;
  flex-direction: column;
  min-height: 300px; /* Ensure the card has a minimum height */
  overflow: hidden; /* Prevent content from overflowing outside */
  padding-bottom: 80px; /* Add extra padding at the bottom to avoid overlap */
}

/* Project card hover effect */
.project-card:hover {
  transform: translateY(-5px);
}

/* Title styling */
.project-title {
  font-size: 30px;
  margin: 0;
  color: #333;
}

/* Description styling */
.project-description {
  font-size: 18px;
  margin: 10px 0;
  color: #555;
}

/* Tech styling */
.project-tech {
  font-size: 15px;
  margin: 5px 0;
  color: #666;
  display: inline; /* Allow inline layout */
}

/* Group tech items */
.project-tech-group {
  display: flex;
  flex-direction: column; /* Stack tech items vertically on mobile */
}

/* Custom button styling */
.btn-primary {
  background-color: #7f7aa0; /* New background color */
  border-color: #7f7aa0; /* New border color */
  color: #fff; /* Text color */
}

.btn-primary:hover {
  background-color: #5b5775; /* Darker shade for hover state */
  border-color: #5b5775;
}

.btn-secondary {
  background-color: #8d7951; /* Background color for secondary buttons */
  border-color: #8d7951; /* Border color for secondary buttons */
  color: #fff; /* Text color */
}

.btn-secondary:hover {
  background-color: #554830; /* Darker shade for hover state */
  border-color: #554830; /* Darker border color for hover state */
}

/* Buttons container in project card */
.project-buttons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px; /* Add space between buttons */
}

/* Desktop view adjustments */
@media (min-width: 768px) {
  
  .project-tech-group {
    flex-direction: row; /* Stack tech items horizontally on desktop */
    align-items: center; /* Center items vertically */
  }
  
  .project-tech.frontend-tech::after {
    content: " | "; /* Pipe symbol after Frontend Tech */
    margin: 0 10px;
  }

  .project-tech.backend-tech::after {
    content: ""; /* No pipe symbol after Backend Tech */
  }
}

/* Date styling */
.project-date {
  font-size: 14px;
  margin: 10px 0;
  color: #777;
}

/* URL styling */
.project-url {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.project-url:hover {
  text-decoration: underline;
}

/* Modal styling */
.modal-dialog {
  max-width: 80vw; /* 80% of the viewport width */
  max-height: 80vh; /* 80% of the viewport height */
  margin-top: 20px;
}

.modal-content {
  height: 100%; /* Full height of the modal dialog */
  display: flex;
  flex-direction: column;
}

.modal-body {
  overflow-y: auto; /* Add vertical scroll if content overflows */
  flex: 1 1 auto; /* Allows modal body to grow and shrink */
}

.modal-footer {
  margin-top: auto; /* Push footer to the bottom of the modal */
}

/* Center section title */
.section-title {
  text-align: center; /* Center the text horizontally */
  margin-top: 30px;
  margin-bottom: 30px; /* Space below the title */
  font-size: 50px;
}
